<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Clase 4</h2>
    
    <p> PROMISE
        .then==> recibe el resolve de la promesa.
        .catch==> recibe el reject de la promesa si la misma da error.
        .finally==> se ejecuta por defecto.
        
        > reject en un hipotético caso de que un usuario al momento de registrarse en una página, 
        ingresa datos de un usuario que ya se encuentra registrado.
        
        pero no solo reject, también resolve, si el usuario y contraseña son correctos, resolve, si no coincide, reject

        por ejemplo prestar plata sería una promesa
        resolve==> volvió el préstamo
        reject==>no volvio

        sobre todo para consultas al servidor se usan las promesas, cuando no sabemos el resultado del pedido

        https://dummyapi.io/
        tabbed postman(api)

        async / await: de asincronica a sincronica
        primero poner: agregamos async a la funcion padre 
        segundo: await agregar
        tercero: si necesitamos agregamos try catch
        async / try / await / catch
        
        hay que usar useEffect

        .map: Recorre el array y devuelve una copia transformada

        > 


    </p>


</body>
</html>